/*

	Styled by: Ramez Istanbouli.

*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #f7f1e3;
}

.slider-cover {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
}

    .carousel-caption h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-family: fantasy;
        text-shadow: 2px 2px black;
    }

        .carousel-caption h5 span {
            color: #2c2c54;
            text-shadow: 1px 1px black;
            background-color: none;
        }

    .carousel-caption p {
        width: 60%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9;
        font-family: sans-serif;
        color: white;
        text-shadow: 1px 1px black;
    }


        .carousel-caption p span {
            color: #2c2c54;
            text-shadow: 1px 1px black;
        }

    .carousel-caption a {
        text-transform: uppercase;
        background-color: #c11235;
        padding: 10px 30px;
        display: inline-block;
        color: black;
        margin-top: 10px;
        border-radius: 0px 10px;
    }

        .carousel-caption a:hover {
            text-decoration: none;
            background-color: #bc1414;
            border-color: black;
            padding: 15px 40px;
            transition-duration: .7s;
            border-radius: 10px 0px;
            color: white;
            border-width: 1.3px;
            border-style: solid;
            border-color: black;
        }

.stroke {
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000 !important;
}

.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #163E8C;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #cd6133;
}

    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: #d1ccc0;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }

.scrolled {
    background: #2c2c54 !important;
    transition-duration: 1.5s;
}

.card-img-top {
    width: auto;
    height: 350px;
    float: none;
    background: cover;
}

.section-title {
    color: #2c2c54;
    text-transform: uppercase;
    font-weight: bold;
}

    .section-title h3 {
        font-weight: bold;
    }

        .section-title h3 span {
            text-decoration: underline
        }

.page-footer {
    background-color: #2c2c54;
    margin-top: 10px;
    color: #f7f1e3;
}

    .page-footer a {
        color: #cd6133;
        align-content: center;
        text-transform: uppercase;
    }

.list-unstyled {
    list-style-type: none;
    padding: 15px 15px 15px 0px;
    margin: 2px;
    display: block;
}

    .list-unstyled li {
        padding: 15px 15px 15px 0px;
    }

.page-footer h5 {
    font-weight: bold;
}

.btn-primary {
    background-color: #227093;
    font-weight: bold;
    border-radius: 7px;
}

    .btn-primary:hover {
        background: #34ace0;
        color: #f7f1e3;
    }



.card-img {
    width: auto;
    height: 350px;
    float: none;
    background: cover;
}

.card {
    margin: 30px;
}

    .card h5 {
        color: #ff5252;
        text-transform: uppercase;
    }

.rad-btn {
    height: 25px;
    width: 25px;
    background-color: #706fd3;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    padding: 0px;
}

    .rad-btn:active {
        background-color: lawngreen;
    }

    .rad-btn:hover {
        background-color: #474787;
    }

.navbar-brand {
    height: 60px;
    margin-left: 60px;
}
.footer-logo{
    display: inline-block;
    width: 100%;
}